
body {
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Exo 2', sans-serif;
    color:#008080 ;
}

a img{
    text-decoration: none;
    outline: none;
    border: none;
}

table{
    border: 1px solid black;
}

.container .mt-5 {

    margin-top: 9rem !important;

}

#pokemonpic{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    margin-left: 15rem !important;
}

.evolutioncon{
    height: 30rem !important;
}



/* arrows*/
.page-link {
    width: 10rem !important;
}
.pagination {
    margin-left: -3rem !important;
}

.pointer {
    cursor: pointer;
}
